<div class="mat-h2">Add New Item </div>
<mat-card class="col-md-8">
    <form #f='ngForm' class="new-item-form">
        <mat-form-field class="p-2">
            <input matInput placeholder="Item Name" name='Item Name' [(ngModel)]='model.name' type="text" required>
        </mat-form-field>
        <mat-form-field class="p-2">
            <mat-label>Item Category</mat-label>
            <mat-select [(ngModel)]="model.category" name="category" required>
                <mat-option *ngFor="let category of categoryList" [value]="category._id">
                    {{category.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <br>

        <mat-form-field class="p-2">
            <input matInput placeholder="Measured In" name='Measured In' [(ngModel)]='model.units' type="text" required>
        </mat-form-field>
        <mat-form-field class="p-2">
            <input matInput placeholder="Image Link" name='Image Link' [(ngModel)]='model.imageLink' type="text"
                pattern="(http|https)?:\/\/(\S+)">
        </mat-form-field>
        <br>

        <mat-form-field class="p-2">
            <mat-label>Notes</mat-label>
            <textarea matInput placeholder="Comments, Descriptions etc" name="notes"
                [(ngModel)]='model.notes'></textarea>
        </mat-form-field>

        <br>

        <mat-form-field class="p-2">
            <mat-label>Branches</mat-label>
            <mat-select [(ngModel)]='branches' name='branches' multiple required [disabled]='!!id'
                [compareWith]="objectComparisonFunction">
                <mat-option *ngFor="let branch of branchList" [value]="branch">{{branch.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <br>

        <div class="mat-h3 p-1 mb-0" *ngIf='branches.length'>Enter Monthly Usage :</div>
        <ng-container *ngFor='let branch of branches'>
            <mat-form-field class="p-2" style="width: 150px;">
                <input matInput [placeholder]="branch.name" name='Monthly Usage' [(ngModel)]='branch.monthlyRequired'
                    type="number" required [min]=0>
            </mat-form-field> {{model.units+" ,"}}

        </ng-container>
        <br>
        <button type="submit" *ngIf='!id' (click)='addItem()' mat-raised-button color="primary" [disabled]="f.invalid">
            Create
            Item
        </button>
        <button type="submit" *ngIf='id' (click)='updateItem()' mat-raised-button color="primary"
            [disabled]="f.invalid"> Update
            Item
        </button>
    </form>

</mat-card>