<div>
    <div class="mat-h2"> Add stock to an item </div>
    <form #f='ngForm'>
        <mat-form-field>
            <mat-label>Choose item</mat-label>
            <mat-select [(ngModel)]='item' name='Item' required>
                <mat-option *ngFor='let item of items' [value]="item"> {{item.name}} </mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <div *ngIf='item.name'>
            Avaiable quantity : {{item.quantity + " "+item.measurement}}
        </div>
        <br>
        <mat-form-field>
            <input matInput placeholder="Quantity" name='Quantity' [(ngModel)]='model.quantity' type="tel"
                pattern='[0-9]*' required>
        </mat-form-field>
        <br>

        <button type="submit" (click)='addQuantity()' mat-raised-button color="primary" [disabled]="f.invalid"> Add
            Stock
        </button>
    </form>

</div>