<div class="mat-h2">List of items</div>

<div *ngIf='allItems.length' class="m-2 p-2">
    <mat-form-field style="width: 300px;">
        <mat-label>Search by name</mat-label>
        <input type="text" placeholder="Search By Name" matInput [formControl]=searchControl [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let item of items" [value]="item.name">
                {{item.name}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</div>

<div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div *ngIf='!allItems.length'> No items available to display</div>
    <div *ngIf='!items.length && allItems.length'> No items found</div>

    <div *ngFor='let item of items;'>
        <item-card [item]=item [lite]=true></item-card>
    </div>
</div>