<div class="mat-h2">List of items</div>

<div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div *ngIf='!items.length'> No items available to display</div>
    <div *ngFor='let item of items;'>
        <mat-card class="">
            <mat-card-header>
                <mat-card-title> {{item.name}}</mat-card-title>
                <mat-card-subtitle>{{item.type}}</mat-card-subtitle>
            </mat-card-header>
            <img class="card-image" [src]="item.image">
            <mat-card-content class="mt-2">
                Avaiable Quantity: {{item.quantity+" " + item.measurement}} <br>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button routerLink='/item/{{item.name}}'>View Item</button>
            </mat-card-actions>
        </mat-card>

    </div>
</div>