<ng-container *ngIf='item'>

    <div class="row">
        <div class="col-md-4 p-2">
            <item-card [item]=item></item-card>
        </div>
        <div class="col-md-5 p-2">
            <mat-card>
                <mat-card-title> <button mat-button class="m-2" color="add-stock" [disabled]='model.action=="Add"'
                        (click)='model.action="Add";model.quantity=0;'> Add
                        Stock </button>
                    <button mat-button class="m-2" color="remove-stock" [disabled]='model.action=="Remove"'
                        (click)='model.action="Remove";model.quantity=0;'> Remove
                        stock</button>
                </mat-card-title>
                <mat-card-content style="margin-left: 24px;">
                    <div *ngIf='model.action'>
                        <div class="mat-h2"> {{model.action=="Add"? ("Add Stock to " + item.name) : "Remove Stock"}}
                        </div>
                        <form #f='ngForm'>
                            <mat-form-field class="pl-2 pr-2" [style.width.px]=200>
                                <input matInput placeholder="Enter Quantity" name='Quantity'
                                    [(ngModel)]='model.quantity' type="number" [min]='1'
                                    [max]='model.action=="Add"?9999:item.quantity' required>
                            </mat-form-field>
                            <br>
                            <button type="submit" (click)='updateStock(model.action)' mat-raised-button color="primary"
                                [disabled]="f.invalid"> {{model.action}} stock for {{item.name}}
                            </button>
                        </form>
                    </div>
                    <div *ngIf='message' class="p-2" [ngClass]="message.indexOf('Succ')?'text-success':'text-danger' ">
                        {{message}}
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="pt-3 pb-3 mb-3 col-lg-12">
        <history-grid [item]='item'></history-grid>
    </div>

</ng-container>