<ng-container *ngIf='item'>
    <div class="mat-h2"> Item Deatils </div>
    <div class="row">
        <div style="width: 280px; margin-bottom: 16px;">
            <item-card [item]=item></item-card>
        </div>

        <mat-accordion multi style="width: 360px;">
            <!-- <div class="mat-h3"> Update Stock </div> -->
            <mat-expansion-panel class="mat-elevation-z4" (opened)='open=1;model.quantity=0' [expanded]='open==1'>
                <mat-expansion-panel-header>
                    <mat-panel-title class='text-success'>
                        <mat-icon>add_circle_outline</mat-icon>
                        <span class="p-1"> Add Stock</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="p-3" style="background-color: #a0bba060;">
                    <form #f='ngForm'>
                        <mat-form-field class="pl-2 pr-2" [style.width.px]=180
                            style="padding-left: 12px;padding-right: 12px;">
                            <input matInput placeholder="Enter Quantity" name='Quantity' [(ngModel)]='model.quantity'
                                type="number" [min]='1' required>
                        </mat-form-field>
                        {{item.units}}
                        <br>
                        <div class="d-flex flex-row-reverse">
                            <button type="submit" (click)='updateStock("Add")' mat-raised-button color="primary"
                                [disabled]="f.invalid"> Add Stock to {{item.name}}
                            </button>
                        </div>
                    </form>
                </div>

            </mat-expansion-panel>
            <div style="height: 6px;"></div>
            <mat-expansion-panel class="mat-elevation-z6" (opened)='open=2;model.quantity=0' [expanded]='open==2'>
                <mat-expansion-panel-header>
                    <mat-panel-title class='text-danger'>
                        <mat-icon>remove_circle_outline</mat-icon>
                        <span class="p-1"> Remove Stock</span>
                    </mat-panel-title>

                </mat-expansion-panel-header>
                <div class="p-3" style="background-color: #cca0a066;">
                    <form #f='ngForm'>
                        <mat-form-field class="pl-2 pr-2" [style.width.px]=180
                            style="padding-left: 12px;padding-right: 12px;">
                            <input matInput placeholder="Enter Quantity" name='Quantity' [(ngModel)]='model.quantity'
                                type="number" [min]='1' required>
                        </mat-form-field>
                        {{item.units}}
                        <br>
                        <div class="d-flex flex-row-reverse">
                            <button type="submit" (click)='updateStock("Remove")' mat-raised-button color="primary"
                                [disabled]="f.invalid || (item.quantity<model.quantity)"> Remove Stock
                            </button>
                        </div>
                    </form>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <div class="pt-3 pb-3 mb-3 col-md-7">
        <history-grid [item]='item'></history-grid>
    </div>

</ng-container>