<div class="overlay" *ngIf='isLoading'>
  <div class="text">
    <div class="p-2 mb-3"> {{loadingText}} </div>
    <mat-spinner [diameter]="56" strokeWidth='5' [color]="'primary'" style="margin:auto;"></mat-spinner>
  </div>
</div>


<mat-toolbar class="p-0 d-flex d-flex justify-content-between" color="primary" style="height: 48px;">

  <div *ngIf='!this.userService.isUserLoggedIn' class="p-2">
    Login
  </div>

  <div *ngIf='this.userService.isUserLoggedIn'>
    <button mat-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-button class="p-1">
      <span [routerLink]="'/home'" class="p-1" style="font-size: 16px;">Stock Manager</span>
      <mat-icon>store</mat-icon>
      <mat-icon> local_mall</mat-icon>
    </button>
  </div>

  <!-- <div style="background-color: aliceblue;">
    <input type="text" matInput placeholder="Search for items">
  </div> -->

  <div *ngIf='this.userService.isUserLoggedIn'>
    <button mat-icon-button [matMenuTriggerFor]="auth">
      <mat-icon>person_outline</mat-icon>
    </button>
    <mat-menu #auth="matMenu">
      <button mat-menu-item (click)='logOut()'>
        <mat-icon>exit_to_app</mat-icon>
        <span>Sign out</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>

<mat-drawer-container class="app-container">
  <mat-drawer #drawer class="sidenav" mode="over">
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/home'" routerLinkActive="sidenav-active-link" (click)="drawer.toggle()"> Home
      </a>
      <a mat-list-item [routerLink]="'/new-item'" routerLinkActive="sidenav-active-link" (click)="drawer.toggle()">
        Create New Item </a>
      <a mat-list-item [routerLink]="'/history'" routerLinkActive="sidenav-active-link" (click)="drawer.toggle()"> Stock
        History
      </a>
      <a mat-list-item [routerLink]="'/admin'" routerLinkActive="sidenav-active-link" (click)="drawer.toggle()"> Admin
        Panel
      </a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content class="p-3" style="height: 95%;">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>