<mat-toolbar class="p-0 d-flex d-flex justify-content-between" color="primary" style="height: 48px;">
  <div>
    <button mat-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Branch 1</span>
  </div>

  <!-- <div style="background-color: aliceblue;">
    <input type="text" matInput placeholder="Search for items">
  </div> -->

  <div>
    <button mat-icon-button [matMenuTriggerFor]="auth">
      <mat-icon>person_outline</mat-icon>
    </button>
    <mat-menu #auth="matMenu">
      <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span>Sign out</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>

<mat-drawer-container class="app-container">
  <mat-drawer #drawer class="sidenav" mode="side" [opened]='true'>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/home'" routerLinkActive="sidenav-active-link"> Home </a>
      <a mat-list-item [routerLink]="'/new-item'" routerLinkActive="sidenav-active-link"> Create New Type </a>
      <a mat-list-item [routerLink]="'/add'" routerLinkActive="sidenav-active-link"> Add Stock </a>
      <a mat-list-item [routerLink]="'/remove'" routerLinkActive="sidenav-active-link"> Used Stock</a>
      <!-- <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a> -->
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content class="p-3">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>