<div>
    <mat-card [style.width.px]='320' style="margin:auto;margin-top: 100px;" class="mat-elevation-z8">
        <div class="mat-h2 d-flex justify-content-center" style="color:#3f51b5;">
            <mat-icon class="pt-1">person_outline</mat-icon><span>Login</span>
        </div>

        <mat-card-content class="text-center mb-0">
            <form #f='ngForm'>
                <mat-form-field style="width: 250px;">
                    <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
                </mat-form-field>
                <br>
                <mat-form-field style="width: 250px;">
                    <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password"
                        minlength="4" required>
                </mat-form-field>
            </form>
        </mat-card-content>
        <div *ngIf=loginFailed class="text-danger m-3">
            Invalid username or password
        </div>

        <mat-card-actions>
            <div class="text-center">
                <button mat-raised-button (click)="login()" [disabled]="f.invalid" color="primary">Login</button>
            </div>
        </mat-card-actions>
    </mat-card>
</div>