<div>
    <mat-card [style.width.px]='300' style="margin:auto;margin-top: 100px;">
        <mat-card-content class="text-center mb-0">
            <form #f='ngForm'>
                <mat-form-field style="width: 250px;">
                    <input matInput placeholder="Enter Username" [(ngModel)]="username" name="username" required>
                </mat-form-field>
                <br>
                <mat-form-field style="width: 250px;">
                    <input matInput placeholder="Enter Password" [(ngModel)]="password" type="password" name="password"
                        required>
                </mat-form-field>
            </form>
        </mat-card-content>
        <div *ngIf=loginFailed class="text-danger p-2">
            Invalid username or password
        </div>

        <mat-card-actions>
            <div class="text-center">
                <button mat-raised-button (click)="login()" [disabled]="f.invalid" color="primary">Login</button>
            </div>
        </mat-card-actions>
    </mat-card>
</div>