<div class="mat-h2"> Expiring Soon </div>


<mat-accordion displayMode='flat'>
    <mat-expansion-panel class="mat-elevation-z4" [expanded]=true>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>filter_list</mat-icon>
                <span class="p-1">Filters</span>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="p-2">

            <mat-form-field class="p-2">
                <mat-label> Min. Date </mat-label>
                <input matInput [matDatepicker]="picker" name="Min DAte" [(ngModel)]='filters.minDate'>
                <mat-datepicker-toggle matSuffix [for]="picker" style="font-size: 24px;">
                </mat-datepicker-toggle>
                <mat-datepicker touchUi #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="p-2">
                <mat-label>Search by name</mat-label>
                <input type="text" placeholder="Search By Name" matInput [(ngModel)]=filters.name name='search'>
            </mat-form-field>

            <mat-form-field class="p-2">
                <mat-label>Search By Branch</mat-label>
                <mat-select [(ngModel)]=filters.branches name='branch' multiple>
                    <mat-option *ngFor="let branch of branches" [value]="branch._id">{{branch.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="p-2">
                <mat-label>Item Category</mat-label>
                <mat-select [(ngModel)]="filters.category" name="category" multiple>
                    <mat-option *ngFor="let category of categories" [value]="category._id">
                        {{category.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <br>

            <button mat-raised-button color='primary' (click)="applyFilters()" class="m-2">
                <mat-icon>search</mat-icon> Search
            </button>
            <button mat-raised-button (click)="clearFilters()" class="m-2">
                <mat-icon>clear_all</mat-icon> Clear Filters
            </button>
        </div>
    </mat-expansion-panel>
</mat-accordion>
<br>
<div fxLayout="row wrap" fxLayoutGap="28px grid">
    <div *ngIf='!transactions.length'> No Items</div>

    <div *ngFor='let transaction of transactions;'>
        <div style=" border-radius: 4px;height: 4px;"
            [ngClass]="{'bg-danger':($any(transaction).days<7),'bg-warning':($any(transaction).days<16),'bg-success':true}">
        </div>
        <mat-card style="min-width: 300px; max-width: 400px;margin-bottom: 8px;max-height: 250px;"
            class="mat-elevation-z5 d-flex">

            <img class="card-image p-2" style="max-width: 120px;max-height: 120px;"
                [src]="$any(transaction).item.imageLink" *ngIf='$any(transaction).item.imageLink'>
            <div class="p-2">

                <div style="font-size: 20px;font-weight: 500;padding-bottom: 4px;">{{$any(transaction).item.name}}
                </div>
                <div style="font-size: 14px;">{{$any(transaction).item.category.name + " -
                    "+$any(transaction).item.branch.name.toLowerCase() }}</div>
                <br>
                <mat-card-content>
                    Quantity : {{transaction.quantity +" " + $any(transaction).item.units }}
                    <br>
                    Expiring On: {{transaction.expiryDate|date}}
                </mat-card-content>

                <button class="mat-elevation-z3" mat-button routerLink='/item/{{ $any(transaction).item._id}}'>VIEW
                    ITEM</button>

            </div>
        </mat-card>
    </div>
</div>