<div class="mat-h2"> Expiring Soon </div>

<div fxLayout="row wrap" fxLayoutGap="28px grid" class="m-1 p-1">
    <div *ngIf='!transactions.length'> No transactions</div>

    <div *ngFor='let transaction of transactions;'>
        <div style=" border-radius: 4px;height: 4px;"
            [ngClass]="{'bg-danger':($any(transaction).days<7),'bg-warning':($any(transaction).days<16),'bg-success':true}">
        </div>
        <mat-card style="min-width: 300px; max-width: 400px;margin-bottom: 8px;max-height: 250px;"
            class="mat-elevation-z5 d-flex">

            <img class="card-image p-2" style="max-width: 120px;max-height: 120px;"
                [src]="$any(transaction).item.imageLink" *ngIf='$any(transaction).item.imageLink'>
            <div class="p-2">

                <div style="font-size: 20px;font-weight: 500;padding-bottom: 4px;">{{$any(transaction).item.name}}
                </div>
                <div style="font-size: 14px;">{{$any(transaction).item.category.name + " -
                    "+$any(transaction).item.branch.name.toLowerCase() }}</div>
                <br>
                <mat-card-content>
                    Quantity : {{transaction.quantity +" " + $any(transaction).item.units }}
                    <br>
                    Expiring On: {{transaction.expiryDate|date}}
                </mat-card-content>

                <button class="mat-elevation-z3" mat-button routerLink='/item/{{ $any(transaction).item._id}}'>VIEW
                    ITEM</button>

            </div>
        </mat-card>
    </div>
</div>