/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


$color-primary : #3f51b5;


.sidenav{
    background-color: #f2f2f2;
    width: 200px;
}

mat-drawer-container{
    height: 100%;
}

mat-drawer-content{
    height: 100%;
    background-color:#fffeff;
}

.card-md{
    max-width: 300px;
}

.card-image{
    width: 200px;
}

.app-container{
    position: fixed;
    height: 100%;
    width: 100%;
    top:48px;
}

.sidenav-active-link{
    background-color: #ccc !important;
    color: $color-primary !important;    
}

.new-item-form , form {
    mat-form-field{
     font-size: 16px !important;  
     width: 300px;
 }   

}

.red-background{
    background-color: #ff0000;
    color: white;
}