/* You can add global styles to this file, and also import other style files */

//html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


$color-primary : #3f51b5;


.sidenav{
    background-color: #f2f2f2;
    width: 200px;
}

mat-drawer-content{    
    background-color:#fffeff;
}

.card-md{
    max-width: 300px;
}

.card-image{
    max-width: 200px;
    max-height: 150px;
    min-height: 100px;
    width: auto;
    height: auto;
    display: block;
    margin: auto;
    
}

.app-container{        
    margin-top:64px;
    overflow-y: auto;
    
}

.sidenav-active-link{
    background-color: #ccc !important;
    color: $color-primary !important;    
}

.new-item-form , form {
    mat-form-field{
     font-size: 16px !important;  
     width: 300px;
 }   

}

.red-background{
    background-color: #f22;
    color: white;
}

.mat-add-stock{
    background-color:teal;
    color: white;
}

.mat-remove-stock{
    background-color: orange;
    color: white;
}

.overlay {
    position: fixed;   
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000099;
    z-index: 2;
    cursor: pointer;
  }
  .text{
    position: absolute;
    top: 50%;
    font-size: 24px;  
    color: white;
    text-align: center;
    transform: translate(0%,-50%);   
    width: inherit;
  }

  .overlay{
    .mat-progress-spinner circle, .mat-spinner circle {
        stroke: #bababa;
    }
}

history-grid{
  
  table {
    width: 100%;
  }

  .loading-data
  {
    opacity: 0.5;
  }
  
  .example-rate-limit-reached {
    max-width: 360px;
    text-align: center;
  }
  
  .mat-column-number,
  .mat-column-state {
    max-width: 64px;
  }
  
  .mat-column-created {
    max-width: 124px;
  }
}


.mat-expansion-panel-body
{
  padding: 8px;
}

.small-screen{
  padding: 20px;
}

.large-screen{
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 48px;
  padding-right: 48px;
}

// .mat-form-field-label{
//   //transform: none !important;
// }

app-item-component{

.mat-expansion-panel-body{
  padding: 0px;
}
}

.red-snackbar{
  background-color:#B00020;
  color: white;

  .mat-simple-snackbar-action{
    color: #fff;
  }
}

text{
  background-color: cyan;
}