<div *ngIf='item' class="mat-elevation-z5">
    <div style=" border-radius: 4px;height: 4px;"
        [ngClass]="{'bg-danger':(item.monthlyRequired/2>item.quantity),'bg-warning':(item.monthlyRequired>item.quantity),'bg-success': item.monthlyRequired<=item.quantity}">
    </div>
    <mat-card style="height: 304px;width: 224px;padding-top: 12px;padding-bottom: 12px;" class="mat-elevation-z0">
        <mat-card-header>
            <mat-card-title> {{item.name}}</mat-card-title>
            <mat-card-subtitle>{{item?.category?.name + " - " + item?.branch?.name}}</mat-card-subtitle>
            <button *ngIf='!lite' mat-mini-fab color="primary" routerLink='/edit/{{item._id}}'
                style="transform: scale(0.8)">
                <mat-icon>edit</mat-icon>
            </button>
        </mat-card-header>
        <div style="height: 120px;">
            <img class="card-image" [src]="item.imageLink" alt="no image">
        </div>
        <mat-card-content class="m-1 mt-2">
            <div
                [ngClass]="{'text-danger':(item.monthlyRequired/2>item.quantity),'text-warning':(item.monthlyRequired>item.quantity) }">
                In Stock: {{item.quantity+" " + item.units}} <br>
                Min. Needed :{{item.monthlyRequired+" "+item.units}}
            </div>
            <div *ngIf='!lite && item.notes' class="mt-2">
                Note : {{item.notes}}
            </div>

        </mat-card-content>
        <mat-card-actions style="text-align: center;">
            <button class="mat-elevation-z3" *ngIf='lite' style="width: 90%;" mat-button
                routerLink='/item/{{item._id}}'>VIEW ITEM</button>
        </mat-card-actions>
    </mat-card>
</div>